// Bouton Principal
.btn{
    padding: $spacing-xl $spacing-lg;
    border:none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(147, 86, 220, 0.4); 
    background: $gradient-primary;
    color:$color-white;
    font-family: 'roboto', sans-serif;
    font-size: $font-size-base;
    font-weight:500;
    cursor: pointer;

    @include transition(transform);

    &:hover{
        transform: scale (1.02);
        box-shadow:$shadow-heavy; 
    }    
    &--large{
       padding: $spacing-sm ($spacing-xs * 3); 
    font-size: $font-size-md;
    } 
   @media (min-width: 768px) {
            padding: $spacing-md ($spacing-sm * 2);
            font-size: $font-size-lg;
            
        }
                             
 
 &--menu{
        padding: $spacing-sm ($spacing-xs * 3);
        font-size: $font-size-md;
        width: 100%;
        max-width: 200px;
        
        @media (min-width: 768px) {
            padding: $spacing-md ($spacing-lg * 2);
            font-size: $font-size-base;
            max-width: 300px;
        }
    }
  }   
     
// Bouton de fonctionement 
.function-btn{
    position:relative;
    @include flex-center;
    gap:$spacing-md;
    padding: $spacing-md $spacing-lg;
    background-color: $color-grey-1;
    border:none;
    border-radius: $radius-lg;
    box-shadow: $shadow-light;
    cursor: pointer;
    @include transition;

    &__number{
    position: absolute ;
    @include flex-center;
    left: -4px;
    
    width: 24px;
    height: 24px;
    background-color: $color-primary;
    color:$color-white;
    border-radius: $radius-round;
    font-size: $font-size-sm;          
    
  }
  
    &__icon{
        font-size:$font-size-lg;
        color:$color-grey-4;
  }
  &:hover{
    background-color: lighten($color-primary, 35%);
   .function-btn__icon {
    color:$color-primary;
   } 
  }
  @media (min-width: 768px){ 

  &--large{
    padding: $spacing-lg ($spacing-lg * 1.5);
    font-size: $font-size-lg;
  }
 }      
}