// ===Heart====
.heart{
 position: relative;     // conteneur reference  pour les position absolute
 font-size: $font-size-lg;     // taille des icones
 cursor: pointer; 
 
 &__empty{
    color: $color-grey-4;
 @include transition(opacity);     // transition  douce et disparition
   }

&__full{
    position: absolute;     // superposé coeur vide 
    top: 0;
    left: 0;
    opacity: 0;              // invisible par defaut
    background:$gradient-primary;     // degradé rose-violet
    -webkit-background-clip: text;      // application du gradient sur texte
    -webkit-text-fill-color: transparent;
    background-clip: text;
    @include transition(opacity);
} 
&:hover{
    .heart__empty{
        opacity:0; // coeur vide  // 
    }
    .heart__full{
        opacity: 1; // coeur plein  //
        animation: heart-fill  0.5s ease-in-out;      // rebond
    }
}

}

@keyframes heart-fill{
    0% {transform: scale(0); }       // commence a etre invisible
    50% {transform: scale(1.2); }    // dépasse légerement
    100% {transform: scale(1); }     // drevient a sa taille normal
}
