// ===Heart====
.heart{
 position: relative;
 font-size: $font-size-lg; 
 cursor: pointer; 
 
 &__empty{
    color: $color-grey-4;
 @include transition(opacity);
   }

&__full{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background:$gradient-primary;
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
    background-clip: text;
    @include transition(opacity);
} 
&:hover{
    .heart__empty{
        opacity:0; // coeur vide  // 
    }
    .heart__full{
        opacity: 1; // coeur plein  //
        animation: heart-fill  0.5s ease-in-out;
    }
}

}

@keyframes heart-fill{
    0% {transform: scale(0); }
    50% {transform: scale(1.2); }
    100% {transform: scale(1); }
}
