// RESET CSS - HOMYFOOD //
// Normalisation des styles par défaut du navigateur

*,
*::before,
*::after {
  margin: 0;        // supprime  toutes les marge par defaut 
  padding: 0;       // supprime tous les espacement par defaut
  box-sizing: border-box;      // padding s'ajoute pas à largeur 
}

html {
  font-size: 16px; // 1rem = 16px sur tout le site
}

body {
  font-family: $font-primary;  // roboto pour tout le texte
  font-size: $font-size-base;   // 1rem (16px)
  color: $color-grey-3;         // couleur du texte principale
}

a {
  text-decoration: none;   // supprime le soulignement des liens      
  color: inherit;      // les liens héritent la couleur parent<    
}

img {
  max-width: 100%;    // les image ne depasse pas leur  conteneur
  height: auto;       // conservation du ratio image
  display: block;     // (inline pr defaut) supprime l'espacesous les image 
}

button {
  font-family: inherit;    // bouton on la même police du site
  cursor: pointer;         // cursuer main survol
  border: none;           // supprime le cadre par defaut
}

ul, ol {
  @include reset-list;    // supprime  les puces et les marge des listes     
}
