// Home
body{
  margin:auto;
}
.hero {
    padding: $spacing-xl $spacing-md;
    text-align: center;
    background: $color-grey-1;

    &__title {
        margin-bottom: $spacing-md; 
        font-size: $font-size-xl;        
        @media (min-width: $breakpoint-tablet) {
        font-size: 55px;
        }
    }
    &__subtitle {
    color: $color-grey-4;
    font-size: $font-size-md;
    margin-bottom: $spacing-lg;
    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-lg;
    }
  }    
}

.functioning {
    padding: $spacing-xl $spacing-md;
    &__list{ 
    margin: 0;
    padding: 0;   
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        padding: $spacing-xl;
      }
     
    }
}
.restaurants {
    padding: $spacing-xxl 0;
    background-color: $color-grey-1;

    &__grid {
        display: grid;
        gap: $spacing-sm;
        width: 100%;
        margin: 0 1.25rem;
        padding:0;
        

.restaurant-card__heart {
    position: absolute;
    right: $spacing-lg;
    top: $spacing-lg;
}
@media (min-width: $breakpoint-tablet) {
            grid-template-columns: repeat(2, 1fr);
}
        @include desktop {
      gap: 7%;
    }
  }
}

.functioning .section__title {
    font-size: $font-size-lg;
    margin-bottom: $spacing-lg;

    @media (min-width: $breakpoint-tablet) {
        padding-left: $spacing-xl;                
    }
}

.restaurants .section__title {
    font-size: $font-size-lg;
    margin-bottom: $spacing-lg;
    padding-left: $spacing-md;
}