// HEADER - HOMYFOOD //
.header {
  position: relative;
  @include flex-center;
  padding: $spacing-md 0;
  background-color: $color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
  &__logo {
    width: 160px;
   @include flex-center;
    @include tablet {
      width: 200px;
    }
  }
 
  &__back {
    position: absolute;
    left: $spacing-md;
    font-size: $font-size-lg;
    color: $color-grey-3;
    @include transition;
   
    &:hover {
      color: $color-black;
      transform: translateX(-3px);
    }
  }
}